.card-body {
  transition: opacity 0.25s ease-in-out;
}

.card-img-top {
  transition: transform 0.25s ease-in-out;
}

.card:hover .card-body {
  opacity: 0.6;
}

.card:hover .card-img-top {
  transform: scale(1.05);
}

#navlinks {
  display: flex;
  list-style-type: none;
}

#navlinks li {
  padding: 0px 10px;
}

#black {
  background-color: black;
  color: white;
}

#cowork-images {
  object-fit: cover ;
}

hr {
  border: 1px solid grey;
  opacity: 0.3;
}
